mixin formatDateTime(time)
    span #{moment(time).format("DD/MM/YY HH:mm:ss")}

mixin formatDate(time)
    span #{moment(time).format("DD/MM/YY")}

mixin formatTime(time)
    span #{moment(time).format("HH:mm:ss")}
